@model List<coreApp.Areas.SAM.InventoryItemModel>
@{
    ViewBag.Title = "Equipment";

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
        {
            new Breadcrumb { Description = "Supply/Asset Management", Link = Url.Action("Index", "Main", new { area = "SAM" }) },
            new Breadcrumb { Description = ViewBag.Title }
        })
}

@section Scripts {
    <script>
        function load(e) {

            if (e.viewType == 'view') {

                e.modal.find('.modal-footer .btn-edit').hide();
                e.modal.find('.modal-footer .btn-delete').hide();

                var historyBtn = e.modal.find('.btn-history');
                var historylink = historyBtn.attr('data-link-tmp');

                historyBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalEmpty('Equipment History', function (modal) {
                        var cont = $('<div />');
                        cont.css({
                            minHeight: '200px',
                            maxHeight: '400px',
                            overflow: 'auto'
                        });

                        var page = $('<div />');
                        cont.append(page);

                        modal.find('.modal-body').empty().append(cont);
                        modal.find('.modal-footer .btn-cancel').html('Close');
                        modal.find('.modal-footer .btn-ok').hide();

                        cont.addClass('loading-mask');

                        page.load(historylink, function () {
                            cont.removeClass('loading-mask');
                        });
                    }, null, 'modal-mid-wide')
                });
            }

            return e;
        }

        function print() {
            modalPrint('@Module.Core.ModuleConstants.PRINT_OPTIONS', function (ret) {
                        var dlWord = 'true';

                        if (ret) {
                            dlWord = 'false';
                        }

                        window.open('@Url.Action("Print")?dlWord=' + dlWord, '_blank');
                    });
        }
    </script>
}

<div class="block">
    <div class="card">
        <div class="card-header">
            <h5>Property Return Slip Items</h5>
            <div class="card-header-right">
                <div class="btn-group-sm card-option">
                    <button class="btn btn-info btn-clean btn-print" onclick="print()">Print</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="dt-responsive table-responsive">
                <table class="display table table-bordered table-striped table-list" cellspacing="0" width="100%"
                       modal-target="#modalView" modal-start="view" modal-view-width="mid-wide" modal-load-callback="load"
                       modal-view-url="/SAM/Equipment/Details/{0}">

                    <thead>
                        <tr>
                            <th>Property No.</th>
                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Barcode</th>
                            <th>Serial No.</th>
                            <th>Model</th>
                            <th>Brand</th>
                            <th>Color</th>
                            <th>Item Remarks</th>
                            <th>Last Issued To</th>
                            <th>Status</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (coreApp.Areas.SAM.InventoryItemModel item in Model)
                        {
                            <tr record-id="@item.Item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.PropertyNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tag.POItem.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tag.POItem._Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Barcode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.SerialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.ModelNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Color)
                                </td>
                                <td>
                                    @Html.DisplayMultiLineFor(modelItem => item.Item.Remarks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.LastIssuedTo)
                                </td>
                                <td>
                                    @Html.Partial("_inventoryStatus", item.LatestInspection)
                                </td>
                                <td>
                                    @(item.Item._IsSemiExpendable == true ? "Semi-Expendable" : "")
                                </td>
                            </tr>
                        }
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")
