@model List<coreApp.Areas.SAM.tblReceipt>
@{
    ViewBag.Title = "Receiving (Inspection Requests)";

    int Year = (int)ViewBag.Year;

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>() {
        new Breadcrumb { Description = ViewBag.Title }
    })
}


@section Styles {
    <link rel="stylesheet" href="~/Assets/nextro/assets/css/plugins/bootstrap-datepicker3.min.css">
}

@section Scripts {
    <script>
        function load(e) {

            if (e.viewType == 'view') {

                var hasBeenSubmitted = $('#HasBeenSubmitted').val() == 'True';

                var editBtn = e.modal.find('.btn-edit');
                var deleteBtn = e.modal.find('.btn-delete');

                var submitBtn = e.modal.find('.btn-submit');
                var link = submitBtn.attr('data-link-tmp');

                submitBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalConfirm('Are you sure you want to submit this request?', function (ret) {
                        if (ret) {
                            $.post(link, null, function (res) {
                                if (res.IsSuccessful) {
                                    sessionStorage.clientMessage = res.Remarks;
                                    window.location.reload(true);
                                } else {
                                    modalMessage(res.Err.split('\n'), 'Inspection Request', true);
                                }
                            }, 'json');
                        }
                    });

                });
                var printBtn = e.modal.find('.btn-print');
                var printlink = printBtn.attr('data-link-tmp');

                printBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalPrint('@Module.Core.ModuleConstants.PRINT_OPTIONS', function (ret) {
                        var dlWord = 'true';

                        if (ret) {
                            dlWord = 'false';
                        }

                        window.open(printlink + '?dlWord=' + dlWord, '_blank');
                    });
                });


                if (hasBeenSubmitted) {
                    editBtn.hide();
                    deleteBtn.hide();
                    submitBtn.hide();
                } else {
                    editBtn.show();
                    deleteBtn.show();
                    submitBtn.show();
                }
            }

            return e;
        }
    </script>

    <script src="~/Assets/nextro/assets/js/plugins/bootstrap-datepicker.min.js"></script>

}


<div class="block">
    <div class="card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button class="btn btn-success btn-create btn-sm" onclick="$.fn.list('modalCreate', this)">Create</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label text-lg-right">For the year:</label>
                    @Html.Partial("~/Areas/Procurement/Views/Shared/yearInfo.cshtml", "/SAM/Receiving/Index/{0}")
                </div>
            </div>
            <div class="dt-responsive table-responsive">
                <table class="display table table-bordered table-striped table-list" cellspacing="0" width="100%"
                       modal-target="#modalView" modal-start="view" modal-load-callback="load"
                       modal-view-url="/SAM/Receiving/Details/@Year/{0}" modal-edit-url="/SAM/Receiving/Edit/@Year/{0}" modal-delete-url="/SAM/Receiving/Delete/@Year/" modal-create-url="/SAM/Receiving/Create/@Year/">
                    <thead>
                        <tr>
                            <th>Date Received</th>
                            <th>P.O. No.</th>
                            <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>Delivery Receipt No.</th>
                            <th>Supplier</th>
                            <th>Received By</th>
                            <th>Office/Department</th>
                            <th>Fund Cluster</th>
                            <th>Delivery</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (coreApp.Areas.SAM.tblReceipt item in Model)
                        {
                            <tr record-id="@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item._PONo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DRNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item._SupplierName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceivedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Office_Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FundCluster)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Delivery)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status_Desc)
                                    @if (item.IsReturned)
                                    {
                                        <div class="small">
                                            &quot;@item.ReturnMessage&quot;
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")

