@model List<Module.DB.tblEmployee_RD>
@{ 
    ViewBag.Title = "My Rest Days";
    ViewBag.Subtitle = "";

    Module.DB.tblEmployee employee = (Module.DB.tblEmployee)ViewBag.Employee;

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = ViewBag.Title }
    })
}

<div class="block">
    <div class="head bg-default bg-light-ltr noradius">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="content">
        <table class="display table table-bordered table-striped table-list" cellspacing="0" width="100%">            
            <thead>
                <tr>
                    <th class="idcol">
                        Id
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Period
                    </th>
                    <th>
                        Days
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Module.DB.tblEmployee_RD item in Model)
                {
                    <tr record-id="@item.Id" locked>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InclusiveDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Days)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")

