@model List<coreApp.Areas.Procurement.DAL.tblUnit>
@{
    ViewBag.Title = "Units";

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
        {
            new Breadcrumb { Description = "Procurement", Link = Url.Action("Index", "Main", new { area = "Procurement" }) },
            new Breadcrumb { Description = ViewBag.Title }
        })
}

<div class="block">
    <div class="card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>
            <div class="card-header-right">
                <div class="btn-group-sm card-option">
                    <button class="btn btn-success btn-create" onclick="$.fn.list('modalCreate', this)">Create</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="dt-responsive table-responsive">
                <table class="display table table-bordered table-striped table-list" cellspacing="0" width="100%"
                       modal-target="#modalView" modal-start="view"
                       modal-view-url="/Procurement/Units/Details/{0}" modal-edit-url="/Procurement/Units/Edit/{0}" modal-delete-url="/Procurement/Units/Delete" modal-create-url="/Procurement/Units/Create">
                    <thead>
                        <tr>
                            <th>
                                Unit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (coreApp.Areas.Procurement.DAL.tblUnit item in Model)
                        {
                            <tr record-id="@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")
