@model Module.DB.tblSettings_BaseModule


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        
            
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ValueType)
            @Html.HiddenFor(model => model.Category)
            @Html.HiddenFor(model => model.Setting)

            <div class="form-row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Category)
                </div>
                <div class="col-md-9">
                    <div class="form-control dimmed">
                        @Html.DisplayFor(model => model.Category)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Setting)
                </div>
                <div class="col-md-9">
                    <div class="form-control dimmed">
                        @Html.DisplayFor(model => model.Setting)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.SettingValue)
                </div>
                <div class="col-md-9">
                    @if (Model.ValueType == "bool")
                    {
                        <div class="checkbox">
                            <label><input id="SettingValue" name="SettingValue" type="checkbox" @(Model.SettingValue == "true" ? "checked=\"checked\"" : "") /></label>
                        </div>
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.SettingValue, new { @class = "form-control", maxlength = "" })
                    }
                    
                </div>
            </div>           


}

