@using coreApp.Areas.SAM
@model string
@{
    tblARE are = (tblARE)ViewBag.ARE;

    List<tblARE> ares = (List<tblARE>)ViewBag.AREs;

}


<label class="col-form-label">PTR No.</label>
<select onchange="ptrSelected(this)" class="form-control pc-selectpicker" data-style="btn-success">
    @foreach (tblARE o in ares)
    {
        <option value="@o.Id" @(are.Id == o.Id ? "selected" : "")>@o.PTRNo | @o._From_Name @(o.FromContractor ? " (Contractor)" : "") > @o._To_Name @(o.ToContractor ? " (Contractor)" : "")</option>
    }
</select>

<div class="alert alert-light m-b-0" role="alert">
    <div style="padding:5px;">
        <table>
            <tbody>
                @if (are.ToContractor)
                {
                    <tr>
                        <td>Address</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>@are._To_Address</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Position</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>@are._To_Position</td>
                    </tr>
                    <tr>
                        <td>Office/Department</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>@are._To_Office / @are._To_Department</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ptrSelected(sel) {
        window.location = '@Model' + $(sel).val();
    }
</script>