@model List<Module.DB.tblGroup>

@{
    ViewBag.Title = "Groups";
    ViewBag.Subtitle = "List";

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>() { new Breadcrumb { Description = ViewBag.Title } })
}

<div class="block">
    <div class="head bg-default bg-light-ltr noradius">
        <h2>@ViewBag.Title</h2>
        <div class="side pull-right">
            <ul class="buttons">
                <li>
                    <button class="btn btn-success btn-create" onclick="$.fn.list('modalCreate', this)">Create</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <table class="display table table-bordered table-striped table-list" cellspacing="0" width="100%"
               modal-target="#modalView" modal-start="view"
               modal-view-url="/HRModule/Groups/Details/{0}" modal-edit-url="/HRModule/Groups/Edit/{0}" modal-delete-url="/HRModule/Groups/Delete" modal-create-url="/HRModule/Groups/Create">
            <thead>
                <tr>
                    <th class="idcol">
                        Id
                    </th>
                    <th>
                        Group Name
                    </th>
                    <th>
                        No. of Members
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Module.DB.tblGroup item in Model)
                {
                    int members = new Module.DB.Procs.procs_tblGroup(item).Members().Count;

                    <tr record-id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @members
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")
