@model coreApp.Areas.Procurement.Models.AOBModels
@using coreLib.Extensions
@{
    ViewBag.Title = "Abstract of Bids";

    int Year = (int)ViewBag.Year;

}

@section Breadcrumbs {
    @Html.Partial("_Breadcrumbs", new List<Breadcrumb>()
    {
        new Breadcrumb { Description = "Procurement"},
        new Breadcrumb { Description = ViewBag.Title }
    })
}

@section Styles {
    <link href="~/Areas/Procurement/Assets/css/common.less" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Assets/nextro/assets/css/plugins/bootstrap-datepicker3.min.css">
}

@section Scripts {
    <script>

        function load(e) {

            if (e.viewType == 'view') {
                var noitem = e.modal.find('[name="NoItem"]').val() == 'True';

                var bidsBtn = e.modal.find('.btn-bids');
                var viewItemsBtn = e.modal.find('.btn-viewitems');
                var editBtn = e.modal.find('.btn-edit');
                var deleteBtn = e.modal.find('.btn-delete');
                var submitBtn = e.modal.find('.btn-submit');
                var returnBtn = e.modal.find('.btn-return');
                var printBtn = e.modal.find('.btn-print');

                var isRFQ = e.modalViewUrl.indexOf('isrfq=true') >= 0;
                var controller = isRFQ ? 'RFQ' : 'AOB';
                var param = isRFQ ? '?fromAOB=true' : '';
                var _href = '/Procurement/' + controller + '/Items/Index/' + e.recordId + param;
                var _dataLink = '/Procurement/' + controller + '/Items/Index/{0}' + param;

                viewItemsBtn
                    .attr('href', _href)
                    .attr('data-link', _dataLink);

                var submitLink = submitBtn.attr('data-link-tmp');

                submitBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalConfirm('Are you sure you want to submit this document?', function (ret) {
                        if (ret) {
                            e.modal.modal('hide');
                            var proc = modalProcessing();

                            $.post(submitLink, null, function (res) {
                                proc.modal('hide');

                                if (res.IsSuccessful) {
                                    sessionStorage.clientMessage = res.Remarks;
                                    window.location.reload(true);
                                } else {
                                    modalMessage(res.Err.split('\n'), 'AOB', true);
                                }
                            }, 'json');
                        }
                    });

                });

                var returnLink = returnBtn.attr('data-link-tmp');

                returnBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalInput('Are you sure you want to return this document?', 'Return Message:', function (ret, userInput) {
                        if (ret) {
                            if (userInput == '') {
                                modalMessage('Return message is required', 'Return RFQ', true);
                                return;
                            }

                            var data = {
                                returnMessage: userInput
                            };

                            $.post(returnLink, data, function (res) {
                                if (res.IsSuccessful) {
                                    sessionStorage.clientMessage = res.Remarks;
                                    window.location.reload(true);
                                } else {
                                    modalMessage(res.Err.split('\n'), 'Return RFQ', true);
                                }
                            }, 'json');
                        }
                    }, 'textarea', function (modal) {
                        modal.find('.modal-footer .btn-cancel').html('No');
                        modal.find('.modal-footer .btn-ok').html('Yes');
                    });

                });


                var printlink = printBtn.attr('data-link-tmp');

                printBtn.unbind('click').bind('click', function (ee) {
                    ee.preventDefault();

                    modalPrint('@Module.Core.ModuleConstants.PRINT_OPTIONS', function (ret) {
                        var dlWord = 'true';

                        if (ret) {
                            dlWord = 'false';
                        }

                        window.open(printlink + '?dlWord=' + dlWord, '_blank');
                    });
                });

                var hasBeenSubmitted = e.modal.find('[name="Submitted"]').val() == 'True';

                editBtn.hide();
                deleteBtn.hide();
                submitBtn.hide();
                returnBtn.hide();
                bidsBtn.hide();
                printBtn.hide();

                if (!noitem) {
                    printBtn.show();

                    if (!isRFQ) {
                        bidsBtn.show();
                    }
                }

                if (hasBeenSubmitted) {
                    if (isRFQ) {
                        returnBtn.show();
                    }
                } else {
                    editBtn.show();
                    deleteBtn.show();
                    submitBtn.show();
                }
            }
        }

    </script>
    <script src="~/Assets/nextro/assets/js/plugins/bootstrap-datepicker.min.js"></script>
}

<div class="block">
    <div class="card">
        <div class="card-header">
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label class="col-form-label text-lg-right">For the year:</label>
                    @Html.Partial("~/Areas/Procurement/Views/Shared/yearInfo.cshtml", "/Procurement/AOB/Index/{0}")
                </div>
            </div>
            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Abstract of Bids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">RFQs</a>
                </li>
            </ul>
            <div class="content tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="float-right">
                        <button class="btn btn-success btn-sm btn-create" onclick="$.fn.list('modalCreate', this)">Create</button>
                    </div>
                    <br />
                    <br />
                    <div class="dt-responsive table-responsive">
                        <table id="table1" class="display table table-bordered table-striped table-list use-each" cellspacing="0" width="100%"
                               modal-target="#modalView" modal-start="view" modal-load-callback="load"
                               modal-view-url="/Procurement/AOB/Details/@Year/{0}" modal-edit-url="/Procurement/AOB/Edit/@Year/{0}" modal-delete-url="/Procurement/AOB/Delete/@Year" modal-create-url="/Procurement/AOB/Create/@Year">
                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Opening Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Submitted By
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AOBs)
                                {
                                    <tr record-id="@item.Id" data-tableid="table1">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Form_OpeningDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocStatus_Desc)
                                        </td>
                                        <td>
                                            @if (item.HasBeenSubmitted)
                                            {
                                                @Html.DisplayFor(modelItem => item.SubmittedBy)<br />
                                                @Html.DisplayFor(modelItem => item.SubmitDate)
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="dt-responsive table-responsive">
                        <table id="table2" class="display table table-bordered table-striped table-list use-each" cellspacing="0" width="100%"
                               modal-target="#modalView" modal-start="view"
                               modal-view-url="/Procurement/RFQ/Details/@Year/{0}?isrfq=true">

                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Canvasser
                                    </th>
                                    <th>
                                        Suppliers
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Submitted By
                                    </th>
                                    <th>
                                        Total Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double total = 0;
                                }

                                @foreach (var item in Model.RFQs)
                                {
                                    double t = item._TotalAmount ?? 0;
                                    total += t;

                                    <tr record-id="@item.Id" data-tableid="table2">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Form_Canvasser)
                                        </td>
                                        <td>
                                            <ol>
                                                @foreach (coreApp.Areas.Procurement.DAL.tblSupplier supp in item.Suppliers())
                                                {
                                                    <li>
                                                        @supp.CompanyName
                                                    </li>
                                                }
                                            </ol>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocStatus_Desc)
                                        </td>
                                        <td>
                                            @if (item.HasBeenSubmitted)
                                            {
                                                @Html.DisplayFor(modelItem => item.SubmittedBy)<br />
                                                @Html.DisplayFor(modelItem => item.SubmitDate)
                                            }
                                        </td>
                                        <td style="text-align:right">
                                            @((item._TotalAmount ?? 0).ToCurrencyString())
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="nofilter" colspan="5" style="text-align:right">
                                        TOTAL
                                    </th>
                                    <th class="nofilter" style="text-align:right">
                                        @total.ToCurrencyString()
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .modal-content {
        width: 50em;
        margin: auto;
        
    }

</style>
@Html.Partial("~/Views/Shared/modals/_ModalView.cshtml", "modalView")
