@model coreApp.Areas.Procurement.DAL.tblItem

@{
    bool isReadOnly = (bool)ViewBag.uiIsReadOnly;
    bool includeId = (bool)ViewBag.uiIncludeId;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    if (isReadOnly)
    {
        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Category)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.Category.Category)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Unit)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.Unit.Unit)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.InDBM)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayBooleanFor(model => model.InDBM)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrigPrice)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    <label>Original Price</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label>Stock No.</label>
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.StockNo)
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.MFO)
            </div>
            <div class="col-md-9">
                <div class="form-control">
                    @Html.DisplayFor(model => model.MFO_desc)
                </div>
            </div>
        </div>

    }
    else
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Name, new { @class = "form-control", @maxlength = "5000" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" , @maxlength = "5000" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Category)
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.CategoryId, coreApp.Areas.Procurement.SelectItems.getCategories(), new { @class = "form-control pc-selectpicker" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Unit)
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.UnitId, coreApp.Areas.Procurement.SelectItems.getUnits(), new { @class = "form-control pc-selectpicker" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.InDBM)
            </div>
            <div class="col-md-9">
                @Html.Partial("_Helper_CheckBox", "InDBM", new ViewDataDictionary { { "value", Model.InDBM } })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label>Original Price</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.OrigPrice, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label>Stock No.</label>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model._StockNo, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.MFO)
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.MFO, coreApp.Areas.Procurement.SelectItems.getMFO(defaultValue: Model.MFO == null ? -1 : (int)Model.MFO), new { @class = "form-control" })
            </div>
        </div>
    }
}

